<div class="box">
  
  <h2>Login</h2>
  
  <form action="">
    
    <!-- Login -->
    
    <div class="login-form">
      
      <label for="username">Username</label>
      <input type="email" [(ngModel)]="loginObj.username" name="EmailId" required placeholder="Username">
      
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="loginObj.password" name="Password" required placeholder="Password">
      
    </div>

    
    <!-- Submit -->
    
    <input type="submit" id="submit" value="Login" (click)="onLogin()">
    
    <!-- Help -->
    
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    
  </form>
</div>
